<div class="grid grid-cols-8 gap-2">
    <div class="col-span-2 border-r border-slate-500 overflow-hidden"><app-nav-bar></app-nav-bar></div>
    <div class=" col-start-3 col-span-6 z-10 h-[88vh] inline-flex items-center justify-center">
        <form class="inline-flex gap-4 flex-col">
            <p class="text-xl text-slate-200">Wite your message: </p>
            <textarea cols="60" rows="10" type="text"  class="mx-4 p-4 rounded-lg text-slate-300 outline-none font-mono bg-slate-600 "placeholder="I Love Angular..."></textarea>
        </form>
    </div>
</div>