<div>
    <mat-toolbar color="primary">
        <div class="flex items-center justify-around w-[100%] alternative">
            <span class="m-2 font-black md:text-4xl text-3xl text-slate-600">
                <h1>Mail Box</h1>
            </span>
            <span class="flex gap-4">
                <button class="p-4 text-xl font-semibold text-blue-400 rounded-lg hover:bg-yellow-200 " routerLink="">Login</button>
                <button class="p-4 text-xl font-semibold text-blue-400 rounded-lg hover:bg-yellow-200 " routerLink="register">SignUp</button>
            </span>
        </div>
    </mat-toolbar>
</div>