<div class="flex justify-center w-full h-[80vh] items-center">

    <span class=" overflow-hidden bg-slate-800 sm:w-[50%] w-[80%] h-[60%] md:grid md:grid-cols-5 flex flex-col shadow-sm shadow-emerald-300">
        <span class="md:flex md:col-span-2 p-2 text-blue-500 text-center font-extrabold md:text-5xl text-2xl justify-center items-center bg-yellow-400">
            <ng-content select="card-title"></ng-content>
        </span>
        <!-- <mat-divider></mat-divider> -->
        <span class="md:col-span-3 col-span-5 bg-white p-4">
            <ng-content select="card-body"></ng-content>
            <ng-content select="card-footer"></ng-content>
        </span>
    </span>
    
</div>