<div class="flex flex-col sticky top-1 w-[300px] overflow-hidden text-slate-200">
    
    <div>
        <div routerLink="/profile" class="p-4 hover:bg-slate-700 text-lg font-semibold font-sans">
            <a > Profile</a>
        </div>
        <div  routerLink="/compose" class="p-4 hover:bg-slate-700 text-lg font-semibold font-sans">
            <a> Compose messege</a>
        </div>
        <div routerLink="/messages" class="p-4 hover:bg-slate-700 text-lg font-semibold font-sans">
            <a > Feed</a>
        </div>
    </div>
    <div class="p-4 hover:bg-slate-700 text-lg font-semibold font-sans">
        <a> Logout</a>
    </div>

</div> 


