@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 2px;
    @apply rounded-lg;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-slate-800; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    @apply rounded-lg;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }